@tailwind base;
@tailwind components;
@tailwind utilities;

/* Giữ nguyên các cấu hình Manwah của bạn bên dưới */
body {
  margin: 0;
  padding: 0;
  background-color: #2C1810; 
  font-family: 'Be Vietnam Pro', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
}